* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#add_task {
    border-radius: 6px;
    border: 2px solid rgb(20, 170, 245);
    width: 105px;
    height: 30px;
    text-align: center;
    display: inline-block;
    background-color: rgb(20, 170, 245);
    font-size: 15px;
}

#add_section {
    border-radius: 6px;
    border: 2px solid rgb(218, 218, 218);
    width: 115px;
    height: 30px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}

#add_bottons {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    padding: 15px 50px;
    background-color: white;
    margin-bottom: 3px;
}

#triangle {
    margin: 7px;
    font-size: 12px;
    text-align: center;
}

.header_container {
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    box-shadow: 0px 2px 6px rgba(4, 18, 78, 0.5);
}

.main_container {
    width: 100%;
    margin: auto;
    line-height: 28px;

}

.list_container {
    width: 80%;
    margin: auto;
    padding: 10px 50px;
    background-color: white;
}

.element_list {
    margin-top: 10px;
    margin-bottom: 12px;
    color: rgb(82, 82, 82);
    font-size: 15px;
    
}

.title_bold {
    font-weight: bold;
    font-size: 20px;
}


.checkmark {
    margin: 7px;
    color: greenyellow;
    font-size: 20px;
    padding: 0px 5px;
    border-radius: 50%;
    border: 1px solid yellowgreen;
}

.editorial_botton {
    border-radius: 45px;
    background-color: rgb(81, 190, 245);
    font-size: 14px;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    padding: 4px 6px;
}

.q1goals_botton {
    border-radius: 45px;
    background-color: rgb(171, 93, 230);
    font-size: 14px;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    padding: 4px 6px;
}

.negative_checkmark {
    margin: 7px;
    color: rgb(150, 27, 27);
    font-size: 20px;
    padding: 0px 6px;
    border-radius: 50%;
    border: 1px solid rgb(150, 27, 27);
}

.recruiting_botton {
    border-radius: 45px;
    background-color: rgb(10, 167, 167);
    font-size: 14px;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    padding: 4px 6px;
}

.mobile_botton {
    border-radius: 45px;
    background-color: orange;
    font-size: 14px;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    padding: 4px 6px;
}

.website_botton {
    border-radius: 45px;
    background-color: rgb(201, 97, 115);
    font-size: 14px;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    padding: 4px 6px;
    
}

.sales_botton {
    border-radius: 45px;
    background-color: rgb(136, 202, 36);
    font-size: 14px;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    padding: 4px 6px;
}

body {
    background-color: rgb(245, 245, 245);
    font-family: 'Verdana', sans-serif;
}